table {
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    background-color: #355e3b;
    color: goldenrod;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even){background-color: lightgray;}

td {
    padding: 5px 5px 5px 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td.oneLine {
    white-space: nowrap;
}

#returnedresults {
    width: 99%;
    padding: 10px;
}

#loading {
    width: 90%;
    height:90%;
    padding-top: 5%;
    text-align: center;
    margin: auto;
    display: none;
}